body {
    margin: 0;
    overflow: hidden;
    background-color: #87CEEB; /* Céu azul */
    font-family: 'Arial', sans-serif;
}

#jogo-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #87CEEB 70%, #4dbb4d 70%); /* Céu e Grama */
}

#placar {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    z-index: 10;
}

#capivara {
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 80px;
    height: 60px;
    background-color: #8B4513; /* Cor marrom capivara */
    border-radius: 30px 50px 10px 10px;
    transition: left 0.1s;
}

/* Itens caindo */
.item {
    position: absolute;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}